Repository dfinance/move-tools, pull requests merged in 2020-12, with the labels that each got.

#145 Dove
  Cargo.lock
  Cargo.toml
  dove/Cargo.toml
  dove/src/bin/dove.rs
  dove/src/cmd/build.rs
  dove/src/cmd/clean.rs
  dove/src/cmd/fetch.rs
  dove/src/cmd/init.rs
  dove/src/cmd/metadata.rs
  dove/src/cmd/mod.rs
  dove/src/cmd/new.rs
  dove/src/cmd/run.rs
  dove/src/cmd/test.rs
  dove/src/context.rs
  dove/src/index/meta.rs
  dove/src/index/mod.rs
  dove/src/index/resolver/chain/loader.rs
  dove/src/index/resolver/chain/mod.rs
  dove/src/index/resolver/git.rs
  dove/src/index/resolver/mod.rs
  dove/src/index/store.rs
  dove/src/lib.rs
  dove/src/manifest.rs
  executor/src/bin/executor.rs
  executor/src/bin/testrunner.rs
  executor/src/executor.rs
  executor/src/lib.rs
  executor/src/session.rs
  executor/tests/test_executor.rs
  lang/disassembler/src/code/iter.rs
  lang/src/compiler/dialects/mod.rs
  lang/src/compiler/parser.rs
  movec/src/bin/movec.rs
  movec/src/builder.rs
  movec/src/cmd/build.rs
  movec/src/cmd/check.rs
  movec/src/cmd/fetch.rs
  movec/src/cmd/init.rs
  movec/src/cmd/mod.rs
  movec/src/cmd/new.rs
  movec/src/cmd/update.rs
  movec/src/dependence/mod.rs
  movec/src/manifest.rs
Labels: compiler, disassembler

#147 Fix crate authors list
  lang/disassembler/Cargo.toml
Labels: disassembler

#149 CI: fix release-page body text, new simple changelog gen
  .github/workflows/release-new.yml
Labels: ci

#151 update wasm-bindgen
  .github/workflows/ci.yaml
  lang/disassembler/Cargo.toml
Labels: ci, disassembler

#150 Add resource viewer tool
  .github/workflows/release-tools.yml
  Cargo.lock
  Cargo.toml
  common/dnode-rest-client/Cargo.toml
  common/dnode-rest-client/src/blocking.rs
  common/dnode-rest-client/src/ds.rs
  common/dnode-rest-client/src/lib.rs
  dove/src/index/resolver/chain/loader.rs
  resource-viewer/Cargo.toml
  resource-viewer/src/main.rs
  resource-viewer/src/ser.rs
  resource-viewer/src/tte.rs
Labels: ci, resource viewer

#152 Resource viewer height query param
  Cargo.lock
  common/dnode-rest-client/src/blocking.rs
  common/dnode-rest-client/src/ds.rs
  resource-viewer/Cargo.toml
  resource-viewer/src/main.rs
  resource-viewer/src/ser.rs
  resource-viewer/src/tte.rs
Labels: resource viewer

#153 add readme for resource viewer
  resource-viewer/README.md
Labels: resource viewer

#154 fix error logging
  common/dnode-rest-client/src/blocking.rs
  resource-viewer/src/main.rs
Labels: resource viewer

#155 Support of Polkadot Addresses
  Cargo.lock
  dove/src/cmd/init.rs
  dove/src/cmd/metadata.rs
  dove/src/cmd/new.rs
  dove/src/context.rs
  dove/src/index/mod.rs
  dove/src/index/resolver/git.rs
  dove/src/manifest.rs
  lang/Cargo.toml
  lang/src/compiler/dialects/mod.rs
  lang/src/compiler/dialects/polkadot/mod.rs
  lang/src/compiler/mod.rs
  lang/src/compiler/ss58.rs
Labels: compiler

#158 34 bytes addr -> 32 bytes addr
  lang/src/compiler/ss58.rs
Labels: compiler

#157 Added address length support.
  Cargo.lock
  common/dnode-rest-client/src/blocking.rs
  dove/Cargo.toml
  dove/src/cmd/build.rs
  dove/src/index/meta.rs
  executor/Cargo.toml
  executor/src/bin/executor.rs
  executor/src/constants.rs
  executor/src/execution.rs
  executor/src/executor.rs
  executor/src/explain.rs
  executor/src/meta.rs
  executor/src/oracles.rs
  executor/src/session.rs
  lang/Cargo.toml
  lang/compat/Cargo.toml
  lang/compat/src/context.rs
  lang/compat/src/lib.rs
  lang/compat/src/libra.rs
  lang/disassembler/Cargo.toml
  lang/disassembler/src/code/body.rs
  lang/disassembler/src/code/exp/branching/mod.rs
  lang/disassembler/src/code/exp/function.rs
  lang/disassembler/src/code/exp/ld.rs
  lang/disassembler/src/code/exp/mod.rs
  lang/disassembler/src/code/exp/pack.rs
  lang/disassembler/src/code/exp/rf.rs
  lang/disassembler/src/code/exp/unpack.rs
  lang/disassembler/src/code/iter.rs
  lang/disassembler/src/code/locals.rs
  lang/disassembler/src/code/translator.rs
  lang/disassembler/src/functions.rs
  lang/disassembler/src/generics.rs
  lang/disassembler/src/imports.rs
  lang/disassembler/src/lib.rs
  lang/disassembler/src/libra.rs
  lang/disassembler/src/module.rs
  lang/disassembler/src/structs.rs
  lang/disassembler/src/types.rs
  lang/disassembler/src/unit.rs
  lang/src/builder.rs
  lang/src/checker.rs
  lang/src/compiler/address.rs
  lang/src/compiler/dialects/dfinance/mod.rs
  lang/src/compiler/dialects/libra/mod.rs
  lang/src/compiler/dialects/mod.rs
  lang/src/compiler/dialects/polkadot/mod.rs
  lang/src/compiler/error.rs
  lang/src/compiler/mod.rs
  lang/src/compiler/parser.rs
  lang/src/compiler/source_map.rs
  language_server/Cargo.toml
  language_server/src/inner/db.rs
  language_server/src/main_loop.rs
  resource-viewer/Cargo.toml
  resource-viewer/src/main.rs
  resource-viewer/src/ser.rs
  resource-viewer/src/tte.rs
Labels: compat, compiler, disassembler, resource viewer

#159 Update to README
  README.md
Labels: documentation
