Repository dfinance/move-tools, pull requests merged in 2020-11, with the labels that each got.

#135 improve executor result representation
  executor/src/bin/executor_cli.rs
  executor/src/constants.rs
  executor/src/execution.rs
  executor/src/explain.rs
  executor/src/lib.rs
  executor/src/session.rs
  executor/tests/test_executor.rs
  resources/assets/modules/record.move
Labels: test resources

#139 set account balance via meta
  executor/src/execution.rs
  executor/src/meta.rs
  executor/src/oracles.rs
  executor/tests/test_executor.rs
  resources/assets/stdlib/account.move
  resources/assets/stdlib/dfinance.move
  resources/assets/stdlib/event.move
  resources/assets/stdlib/signer.move
Labels: test resources

#140 add testrunner to ci and release
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  check_project.sh
  executor/src/bin/testrunner.rs
  executor/src/lib.rs
  executor/src/session.rs
  resources/assets/runner_tests/00_no_script.move
Labels: ci, test resources

#143 add meta block: for block height
  executor/src/execution.rs
  executor/src/meta.rs
  executor/src/oracles.rs
  executor/tests/test_executor.rs
  resources/assets/stdlib/block.move
Labels: test resources

#144 rename executor cli
  .github/workflows/release.yaml
  executor/src/bin/executor.rs
Labels: ci

#141 new Ci release workflows
  .github/actions/archive/action.yml
  .github/actions/crate-version/action.yml
  .github/workflows/ci.yaml
  .github/workflows/release-ext.yml
  .github/workflows/release-new.yml
  .github/workflows/release-tools.yml
  .github/workflows/release.yaml
Labels: ci
