Repository dfinance/move-tools, pull requests merged in 2021-02, with the labels that each got.

#162 Added 'ct' command.
  Cargo.lock
  README.md
  dove/Cargo.toml
  dove/src/bin/dove.rs
  dove/src/cmd/build.rs
  dove/src/cmd/ct.rs
  dove/src/cmd/fetch.rs
  dove/src/cmd/metadata.rs
  dove/src/cmd/mod.rs
  dove/src/cmd/run.rs
  dove/src/cmd/test.rs
  dove/src/context.rs
  dove/src/index/mod.rs
  dove/src/index/resolver/chain/loader.rs
  dove/src/lib.rs
  dove/src/manifest.rs
  lang/disassembler/src/code/exp/mod.rs
  lang/src/lib.rs
  lang/src/meta_extractor.rs
  language_server/src/main_loop.rs
  resource-viewer/src/lib.rs
  resource-viewer/src/main.rs
  resource-viewer/src/ser.rs
  resource-viewer/src/tte.rs
Labels: disassembler, documentation, resource viewer

#164 CI: fix wasm build bindings
  .github/workflows/ci.yaml
  .github/workflows/release-ext.yml
  Cargo.lock
  lang/disassembler/Cargo.toml
Labels: ci, disassembler

#163 add sp-client for resource-viewer
  Cargo.lock
  resource-viewer/Cargo.toml
  resource-viewer/README.md
  resource-viewer/src/lib.rs
  resource-viewer/src/main.rs
  resource-viewer/src/ser.rs
  resource-viewer/src/sp_client.rs
  resource-viewer/src/tte.rs
Labels: resource viewer
